body{
    background-color: #F5F5F5;
}
.corner{
    background-color: #cfcccc;
}

.data{
    height: 85vh;
    color: green;
    padding-top: 20px;
}
.corner_a{
    display: block;
    text-decoration: none;
    color: rgb(24, 21, 21);
    height: 20px;
}
.corner li a{
    text-decoration: none;
    margin-top: 20px;
}
#id_password1,#id_password2,#id_fullname,#id_emp_id,#id_department,#id_joining,#id_desigination{
    width: 100%;
    height: 30px;
}
form{
    border: 2px solid rgb(228, 224, 224);
}
.display{
    width: 100%;
    color: black;
}
.tr1{
    height: 20px;
}
table a{
    text-decoration: none;
    color: black;
}
